---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1>Andrés Cruz Chipol</h1>
	<blockquote>
		"Sometimes it is the people no one can imagine anything of who do the things no one can imagine." - Alan Turing
	</blockquote>
	<button>All</button>
	<button>Personal</button>
	<button>Dev</button>
	<button>Labs</button>
	<button>AI Week</button>

	<h2> Hello World! - The Phrase of the Beginnin</h2>
</Layout>
