---
// index.astro - Página principal del portfolio.
import Layout from '../layouts/Layout.astro';
import TechIcon from '../components/TechIcon.astro';
import TechIconMobile from '../components/TechiconMobile.astro'

---

<Layout title="Mi Portfolio">
  <canvas id="game-of-life-canvas"></canvas>
  <section class="flex flex-col justify-center min-h-screen gap-[12px] items-center lg:mt-[-20px] ">
    <img class="w-20 h-20 rounded-full border-4 border-white border-solid visible shadow-md sm:w-40 " src="/profile.webp" alt="">
    <h1 class=" font-extrabold text-center text-[20px] 
                sm:text-[35px] sm:px-[25px] sm:py-[2px] 
                md:text-[50px] 
                lg:text-[70px]">
      Andres Cruz Chipol
    </h1>
    <div class="flex flex-row justify-between my-[10px] w-70 sm:w-100">
        <a href="https://www.linkedin.com/in/andreschipol/" target="_blank"  rel="noopener noreferrer">
          <svg class="w-8 h-8 text-[#0a66c2] sm:w-12 sm:h-12 " fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
        </a>
        <a href="https://github.com/reschip" target="_blank" rel="noopener noreferrer">
          <svg class="w-8 h-8 sm:w-12 sm:h-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3 .7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3 .3 2.9 2.3 3.9 1.6 1 3.6 .7 4.3-.7 .7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3 .7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3 .7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/></svg>
        </a>
        <a href="https://x.com/reschip" target="_blank" rel="noopener noreferrer">
          <svg class="w-8 h-8 sm:w-12 sm:h-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm297.1 84L257.3 234.6 379.4 396H283.8L209 298.1 123.3 396H75.8l111-126.9L69.7 116h98l67.7 89.5L313.6 116h47.5zM323.3 367.6L153.4 142.9H125.1L296.9 367.6h26.3z"/></svg> 
        </a>
        <a href="https://www.kaggle.com/andreschipol" target="_blank" rel="noopener noreferrer">
          <svg class="w-8 h-8 text-[#57bafb] sm:w-12 sm:h-12" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M304.2 501.5L158.4 320.3 298.2 185c2.6-2.7 1.7-10.5-5.3-10.5h-69.2c-3.5 0-7 1.8-10.5 5.3L80.9 313.5V7.5q0-7.5-7.5-7.5H21.5Q14 0 14 7.5v497q0 7.5 7.5 7.5h51.9q7.5 0 7.5-7.5v-109l30.8-29.3 110.5 140.6c3 3.5 6.5 5.3 10.5 5.3h66.9q5.3 0 6-3z"/></svg>
        </a>
        <a href="https://huggingface.co/reschip" target="_blank" rel="noopener noreferrer">
          <img class="w-8 h-8 sm:w-12 sm:h-12" src="hf-logo.svg" alt="Descripción de tu logo" class="w-24 h-24">
        </a>
    </div>

    <p class="text-[17px] text-center font-medium w-70 sm:hidden">Computer scientist focused on Artificial Intelligence</p>
    <p class="hidden sm:text-[20px] sm:px-12  sm:text-center sm:block  md:text-[30px] md:px-0 lg:px-0 ">
      Computer scientist focused on Artificial Intelligence, where theory and practice become one. Research enthusiast and supporter of open source.
    </p>
    <a href="#about-section" class="mt-[10px] animate-bounce-arrow sm:mt-[50px]">
      <svg class="w-12 h-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#f42c04" d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg>
    </a>
  </section>

  <section id="about-section" class="mb-5 mt-[-50px] sm:text-xl ">
    <h2 class="section-title ">About</h2>
    <p>I was born in Mexico, in a developing city where the river whispers stories to the sun and oil sleeps beneath cacao trees that dream of rain.</p>
    <p>I traveled where the sea murmurs winds from the Isthmus and ships dance to the rhythm of the sandunga.</p>
    <p>I learned where domes touch the sky amid the scents of talavera and mole, and time walks through alleyways filled with history.</p>
  </section>

  <section class="bg-[#f9f8f596]">
    <h2 class="section-title">Work Experience</h2>
    <div class="flex flex-col">
    <div class="experience-item">
      <img class="w-20 rounded-sm hidden sm:block" src="https://media.licdn.com/dms/image/v2/D560BAQEDqTUcl8gG1Q/company-logo_200_200/company-logo_200_200/0/1710948466062/layer7_mx_logo?e=1755734400&v=beta&t=INUv6V1ZxXHg1pctaPMHIDSckfR7EOnt3ZteXMkPjFo" alt="">
      <div class="content-column">
        <div class="date-column">2024 - Now</div>
        <h3 class="job-title">Artificial Intelligence Analyst</h3>
        <div class="company">Layer7</div>
      </div>
    </div>

    <div class="experience-item">
      <img class="w-20 rounded-sm hidden sm:block" src="https://media.licdn.com/dms/image/v2/D560BAQFl9p5D15-UUw/company-logo_200_200/company-logo_200_200/0/1707328469029/hospital_angeles_puebla_logo?e=1755734400&v=beta&t=VKT543AawlqPECDRpyWrdL9CXy9_G7ZLBMDZzUxrI58" alt="">
      <div class="content-column">
        <div class="date-column">nov 22 - abr 23</div>
        <h3 class="job-title">Data Scientist Intership</h3>
        <div class="company">Hospital Angeles</div>
      </div>
    </div>
    
    <div class="experience-item">
      <img class="w-20 rounded-sm hidden sm:block" src="https://media.licdn.com/dms/image/v2/C4E0BAQHO777KsU9ETQ/company-logo_100_100/company-logo_100_100/0/1631365886285/buapoficial_logo?e=1755734400&v=beta&t=mNCxv3XqD3WUPbCkHwCCfO_te1kvokagSE-HU8PIqrg" alt="">
      <div class="content-column">
        <div class="date-column">ago. 21 - oct. 21</div>
        <h3 class="job-title">Research Stay - Machine Learning</h3>
        <div class="company">BUAP - Benemérita Universidad Autónoma de Puebla</div>
      </div>
    </div>

    <div class="experience-item">
      <img class="w-20 rounded-sm hidden sm:block" src="https://media.licdn.com/dms/image/v2/C4E0BAQFR30KuNQp3Jw/company-logo_100_100/company-logo_100_100/0/1663094485333/cimat_logo?e=1755734400&v=beta&t=pez2irLF6we4Bnk9ATUggaw3TJ6T1kxSXbF3Q_7nHYQ" alt="">
      <div class="content-column">
        <div class="date-column">jun. 21 - ago. 21</div>
        <h3 class="job-title">Summer Internship – Data Science</h3>
        <div class="company">CIMAT - Centro de Investigación en Matemáticas, A.C.</div>
      </div>
    </div>
    </div>
  </section>

  <section>
    <h2 class="section-title ">Stack</h2>
    <div class="sm:flex sm:flex-wrap justify-center gap-6 p-8 hidden sm:visible">
    <TechIcon
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
      iconName="Python"
    />
    <TechIcon 
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
      iconName="Javascript"
      class="mt-[-30px]"
    />
    <TechIcon
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg"
      iconName="C++"
    />
    <TechIcon
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg"
      iconName="Postgres"
      class="mt-[-30px]" 
    />
    
    <TechIcon
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg"
      iconName="Mysql"
    />

    {/* Herramientas y Entornos */}
    <TechIcon
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jupyter/jupyter-original.svg"
      iconName="Jupyter"
    />
    <TechIcon
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original.svg"
      iconName="VSCode"
      class="mt-[-30px]"
    />
    <TechIcon
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"
      iconName="Docker"
    />
    <TechIcon
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
      iconName="Git"
      class="mt-[-30px]"
    />
    <TechIcon
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
      iconName="Github"
    />
    <TechIcon
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bitbucket/bitbucket-original.svg"
      iconName="Bitbucket"
    />


    {/* Frameworks y Librerías de Python / ML */}
    <TechIcon
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/fastapi/fastapi-original.svg"
      iconName="Fastapi"
      class="mt-[-30px]"
    />
    <TechIcon
      iconSrc="https://images.chainguard.dev/logos/mlflow.svg"
      iconName="MLflow"
    /> 
    <TechIcon
      iconSrc="https://registry.npmmirror.com/@lobehub/icons-static-png/latest/files/dark/langgraph-color.png"
      iconName="Langgraph"
      class="mt-[-30px]"
    />
    <TechIcon
      iconSrc="https://registry.npmmirror.com/@lobehub/icons-static-png/1.47.0/files/dark/langchain-color.png"
      iconName="Langchain"
    /> 
    {/* Librerías de Data Science y ML */}
    <TechIcon
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/numpy/numpy-original.svg"
      iconName="Numpy"
    />
    <TechIcon
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pandas/pandas-original.svg"
      iconName="Pandas"
      class="mt-[-30px]"
    />
    <TechIcon
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/matplotlib/matplotlib-original.svg"
      iconName="Matplotlib"
    />
    <TechIcon
      iconSrc='https://cdn.worldvectorlogo.com/logos/seaborn-1.svg'
      iconName="Seaborn"
      class="mt-[-30px]"
    /> 
    
    <TechIcon
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/scikitlearn/scikitlearn-original.svg"
      iconName="Scikit-Learn"
    />
    <TechIcon
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tensorflow/tensorflow-original.svg"
      iconName="Tensorflow"
      class="mt-[-30px]"
    />
    <TechIcon
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/keras/keras-original.svg"
      iconName="Keras"
    />
    <TechIcon
      iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pytorch/pytorch-original.svg"
      iconName="Pytorch"
      class="mt-[-30px]"
    />
    </div>

    <div class="visible mt-5 flex flex-wrap items-center justify-center sm:hidden">
      {/* Lenguajes de Programación */}
      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
        iconName="Python"
      />
      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
        iconName="Javascript"
        class="mt-[-30px]"
      />
      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg"
        iconName="C++"
      />
      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg"
        iconName="Postgres"
        class="mt-[-30px]"
      />

      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg"
        iconName="Mysql"
      />

      {/* Herramientas y Entornos */}
      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jupyter/jupyter-original.svg"
        iconName="Jupyter"
      />
      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original.svg"
        iconName="VSCode"
        class="mt-[-30px]"
      />
      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"
        iconName="Docker"
      />
      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
        iconName="Git"
        class="mt-[-30px]"
      />
      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
        iconName="Github"
      />
      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bitbucket/bitbucket-original.svg"
        iconName="Bitbucket"
      />


      {/* Frameworks y Librerías de Python / ML */}
      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/fastapi/fastapi-original.svg"
        iconName="Fastapi"
        class="mt-[-30px]"
      />
      <TechIconMobile
        iconSrc="https://images.chainguard.dev/logos/mlflow.svg"
        iconName="MLflow"
      />
      <TechIconMobile
        iconSrc="https://registry.npmmirror.com/@lobehub/icons-static-png/latest/files/dark/langgraph-color.png"
        iconName="Langgraph"
        class="mt-[-30px]"
      />
      <TechIconMobile
        iconSrc="https://registry.npmmirror.com/@lobehub/icons-static-png/1.47.0/files/dark/langchain-color.png"
        iconName="Langchain"
      />
      {/* Librerías de Data Science y ML */}
      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/numpy/numpy-original.svg"
        iconName="Numpy"
      />
      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pandas/pandas-original.svg"
        iconName="Pandas"
        class="mt-[-30px]"
      />
      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/matplotlib/matplotlib-original.svg"
        iconName="Matplotlib"
      />
      <TechIconMobile
        iconSrc='https://cdn.worldvectorlogo.com/logos/seaborn-1.svg'
        iconName="Seaborn"
        class="mt-[-30px]"
      />

      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/scikitlearn/scikitlearn-original.svg"
        iconName="Scikit-Learn"
      />
      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tensorflow/tensorflow-original.svg"
        iconName="Tensorflow"
        class="mt-[-30px]"
      />
      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/keras/keras-original.svg"
        iconName="Keras"
      />
      <TechIconMobile
        iconSrc="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pytorch/pytorch-original.svg"
        iconName="Pytorch"
        class="mt-[-30px]"
      />
</div>
  </section>
  
  <section>
    <h2 class="section-title">Course / Certifications</h2>
    <div class="flex flex-col gap-4">
      <div class="bg-[#f5e3c8] p-4 rounded-md">
        <h3 class="text-ml font-semibold mb-2">Data Engineering Professional Certificate</h3>
        <p class="text-gray-600 mb-2">DeepLearning.AI · Expedición: mar. 2025</p>
        <p class="text-sm text-gray-500">ID: 1T31Y80LUUQV</p>
      </div>

      <div class="bg-[#f5e3c8] p-4 rounded-md">
        <h3 class="text-ml font-semibold mb-2">Introduction to LangGraph</h3>
        <p class="text-gray-600 mb-2">LangChain · Expedición: mar. 2025</p>
        <p class="text-sm text-gray-500">ID: kkg359aynw</p>
      </div>

      <div class="bg-[#f5e3c8] p-4 rounded-md">
        <h3 class="text-ml font-semibold mb-2">Google Cloud Computing Foundations</h3>
        <p class="text-gray-600">Google · Expedición: mar. 2024</p>
      </div>

      <div class="bg-[#f5e3c8] p-4 rounded-md" >
        <h3 class="text-ml font-semibold mb-2">Quantitative Analyst with R Track</h3>
        <p class="text-gray-600">DataCamp · Expedición: jul. 2021</p>
      </div>

      <div class="bg-[#f5e3c8] p-4 rounded-md">
        <h3 class="text-ml font-semibold mb-2">AZ-900: Microsoft Azure Fundamentals</h3>
        <p class="text-gray-600 mb-2">Microsoft · Expedición: jun. 2021</p>
        <p class="text-sm text-gray-500">ID: 90029376</p>
      </div>
    </div>
  </section>
</Layout>

<style is:global>
  /* === Reseteo y Estilos Base === */
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    color: #0f1a20;
  }

  html {
    scroll-behavior: smooth;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /* === Animación de Fondo (Canvas) === */
  #game-of-life-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Se posiciona detrás de todo el contenido. */
    opacity: 0.4;
    filter: blur(0.5px);
  }

  /* === Estilos de Contenido General === */
  .content {
    position: relative;
    z-index: 1; /* Se asegura que el contenido esté sobre el canvas. */
    color: #2D2D2D;
    padding: 30px;
    max-width: 800px;
    margin: 40px auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
  }

  .section-title {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 0px;
    margin-top: 30px;
    color: #5bc0be;
  }

  /* === Sección de Experiencia === */
  .experience-item {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    align-items: center;
  }

  .experience-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  .date-column {
    flex-shrink: 0;
    width: 120px;
    font-size: 14px;
  }

  .content-column {
    flex: 1;
  }

  .job-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -5px;
  }

  .company {
    color: #2274a5;
    font-size: 14px;
    font-weight: 400;
  }

  .description {
    color: #000000;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.6;
  }

    /* Define la animación de rebote */
  @keyframes bounce-arrow {
    0%, 100% {
      transform: translateY(0); /* Posición inicial y final */
    }
    50% {
      transform: translateY(10px); /* Se mueve 10px hacia abajo en la mitad de la animación */
    }
  }

  /* Aplica la animación a la clase del enlace */
  .animate-bounce-arrow {
    animation: bounce-arrow 1.5s infinite; /* Nombre, duración, repetición infinita */
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const canvas = document.getElementById('game-of-life-canvas');
    if (!canvas) return;
    const ctx = canvas.getContext('2d');
    
    // --- Configuración del "Juego de la Vida" ---
    let cellSize = 12;
    let speed = 800; // Intervalo de actualización más lento para no distraer.
    const specialColors = ['#8B93FF', '#40E0A4', '#FF8B8B']; // Colores sutiles para células especiales.
    
    let grid;
    let cellColors;
    let columns;
    let rows;

    // Ajusta el canvas a las dimensiones de la ventana y reinicia la simulación.
    function resizeCanvas() {
      canvas.width = window.innerWidth;
      canvas.height = window.innerHeight;
      initGame();
    }
    
    // Inicializa la matriz del juego.
    function initGame() {
      columns = Math.ceil(canvas.width / cellSize);
      rows = Math.ceil(canvas.height / cellSize);
      
      // Crea una matriz 2D con una densidad baja de células iniciales (15%).
      grid = Array(columns).fill(null).map(() => Array(rows).fill(null).map(() => Math.random() > 0.85));
      cellColors = Array(columns).fill(null).map(() => Array(rows).fill(null));
      
      draw();
    }
    
    // Calcula el siguiente estado (generación) del juego.
    function update() {
      const nextGrid = Array(columns).fill(null).map(() => Array(rows).fill(false));
      const nextColors = Array(columns).fill(null).map(() => Array(rows).fill(null));
      
      for (let x = 0; x < columns; x++) {
        for (let y = 0; y < rows; y++) {
          const state = grid[x][y];
          let neighbors = 0;

          // Cuenta los vecinos vivos de cada célula.
          for (let i = -1; i <= 1; i++) {
            for (let j = -1; j <= 1; j++) {
              if (i === 0 && j === 0) continue;
              // El operador de módulo (%) permite que el mundo sea toroidal (se conecta por los bordes).
              const xi = (x + i + columns) % columns;
              const yj = (y + j + rows) % rows;
              if (grid[xi][yj]) neighbors++;
            }
          }
          
          // Aplica las reglas del Juego de la Vida.
          if (state && (neighbors < 2 || neighbors > 3)) {
            nextGrid[x][y] = false; // Muerte por soledad o sobrepoblación.
          } else if (!state && neighbors === 3) {
            nextGrid[x][y] = true;  // Nacimiento.
          } else {
            nextGrid[x][y] = state; // Supervivencia.
            if (state) {
              nextColors[x][y] = cellColors[x][y]; // Mantiene su color si sobrevive.
            }
          }
          
          // Lógica original de asignación de color, sin alteraciones.
          // Para células vivas, se evalúa una probabilidad anidada.
          if (nextGrid[x][y] && Math.random() < 0.03) {
            // Si la primera probabilidad (3%) se cumple, se evalúa una segunda (8%).
            if (Math.random() < 0.08) {
              const colorIndex = Math.floor(Math.random() * specialColors.length);
              nextColors[x][y] = specialColors[colorIndex];
            } else {
              // Si la segunda probabilidad no se cumple, la célula pierde su color.
              nextColors[x][y] = null;
            }
          }
        }
      }
      
      grid = nextGrid;
      cellColors = nextColors;
    }
    
    // Dibuja la matriz actual en el canvas.
    function draw() {
      ctx.fillStyle = '#f0eee6'; // Color de fondo.
      ctx.fillRect(0, 0, canvas.width, canvas.height);
      
      for (let x = 0; x < columns; x++) {
        for (let y = 0; y < rows; y++) {
          if (grid[x][y]) {
            // Usa color especial si existe, de lo contrario, el color por defecto.
            ctx.fillStyle = cellColors[x][y] || '#D4D2C8';
            // Dibuja rectángulos redondeados para una apariencia más suave.
            ctx.beginPath();
            ctx.roundRect(x * cellSize, y * cellSize, cellSize - 1, cellSize - 1, 2);
            ctx.fill();
          }
        }
      }
    }
    
    // Bucle principal que actualiza y dibuja el juego a intervalos definidos.
    function gameLoop() {
      update();
      draw();
      setTimeout(gameLoop, speed);
    }
    
    // --- Inicialización ---
    window.addEventListener('resize', resizeCanvas);
    resizeCanvas(); // Primera ejecución al cargar la página.
    gameLoop();
  });
</script>